<!DOCTYPE html>
<html>
<head>
  <title>Instapix</title>
  <%= javascript_include_tag 'application' %>
  
  <!-- Logo Font -->
    <link href="//fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet" type="text/css">
    
  <!-- Bootstrap -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Font Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <% if alert %>
      <div class="alert alert-danger" role="alert"><%= alert %></div>
    <% end %>

    <%= form_tag sessions_path, class: "form-signin" do %>
      <h1>Instapix</h1>
      <h2 class="form-signin-heading">Please sign in</h2>
      <%= text_field_tag :email, "", class: "form-control", placeholder: "Email Address" %>
      <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
      <%= button_tag "Sign In", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>

  </div>
</body>
</html>