<h1>List of Photos</h1>

<table>
 <thead>
   <tr>
     <th colspan="3"></th>
   </tr>
 </thead>

 <tbody>
   <% @photos.each do |photo| %>
     <tr>
       <td><%= photo.name %></td>
       <td><%= link_to 'Show', photo %></td>
       <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
       <td><%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure you want to remove photo?' } %></td>
     </tr>
   <% end %>
 </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %><div class="row">