<%= form_for @photo, html: {multipart: true} do |form| %>
<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
  <%= form.file_field :image %>
  <%= form.label :hashtags %>
  <%= form.fields_for :hashtags do |hashtag_form| %>
    <%= hashtag_form.text_field :name %>
  <% end %>

</div>
<%= form.button 'Upload', class: "btn btn-success" %>
<% end %>